/* style.css */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f3e5f5;
    margin: 20px;
    color: #4527a0;
}

h1 {
    color: #d81b60;
    font-size: 2.5em;
    margin-bottom: 20px;
    animation: destello 1s infinite;
}

@keyframes destello {
    0% {
        color: #d81b60;
    }
    50% {
        color: #fce4ec;
    }
    100% {
        color: #d81b60;
    }
}

#slider-container {
    width: 80%;
    overflow: hidden;
    margin: 20px auto;
}

.carrusel {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carrusel-inner {
    display: flex;
    transition: transform 0.5s ease;
    animation: moverCarrusel 20s linear infinite; /* Nueva animación para el carrusel */
}

.carrusel div {
    flex: 0 0 auto;
}

.carrusel img {
    height: 300px;
    width: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carrusel img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#texto-animado {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pregunta {
    font-size: 24px;
    color: #d81b60;
    margin-bottom: 10px;
    animation: escribiendo 4s steps(20) forwards;
}

.respuestas {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #d81b60;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #fff;
    color: #d81b60;
}

.alerta {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #d81b60;
    color: #fff;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.alerta.mostrar {
    opacity: 1;
}

/* Reglas de medios para dispositivos móviles */
@media (max-width: 768px) {
    #slider-container {
        width: 100%;
    }

    .carrusel img {
        height: 200px;
    }
}

/* Nueva animación para el carrusel */
@keyframes moverCarrusel {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
